body {
    margin: 0;
    padding: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.header
{
    /* height: 100%; */
    vertical-align: top;
    /* background-image: linear-gradient(
        rgba(0,0,0,0.5), rgba(0,0,0,0.5) 
    ), url(../images/Hanoi_Adobe.jpg); */
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-family: sans-serif;
}

h1
{
    color: #fff;
    margin-bottom: 20px;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
    font-family:  "Lucida Console", Monaco, monospace;
}

img {
    background: rgba(0,0,0,0.5);
    padding: 10px;
}
.search-field
{
    height: 50px;
    padding: 10px;
    border: none;
    /* border-radius: 15px; */
    outline: none;
}

.category 
{
    width: 150px;
}

.keywords
{
    width: 200px;
}

.search-btn
{
    height: 50px;
    width: 150px;
    background: #ffeb3b;
    border: none;
    color: #000;
    /* border-radius: 15px; */
}

.search-btn:hover {
    background: #ffc107;
    cursor: pointer;
}

.form-box {
    background: rgba(0,0,0,0.5);
    padding: 30px;
}

.img-col {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
  
.img-col img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
}
.img-col img:hover {opacity: 0.5;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }