* {
    box-sizing: border-box;
}

body {
  font: 16px Arial;
  margin: 0;
  padding: 0;
  display: block;
}


.header
{
    min-height: 100%;
    vertical-align: top;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

h1
{
    color: #fff;
    margin-bottom: 20px;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
    font-family:  "Lucida Console", Monaco, monospace;
}

a {
    text-decoration: none;
    color: #fff;
}

.input-box {
    font-size: 12pt;
    color: #444;
    font-weight: bold;
}

.text-box {
    margin: 0 0 0 10px;
    padding: 10px;
    border-radius: 10px;
    width: 240px;
}

.category {
    width: 180px;
    border-radius: 10px;
}

.search-btn {
  width: 150px;
  background: #ffeb3b;
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-size: 12pt;
  text-align: center;
  margin: 0 0 0 10px;
}

.search-btn:hover {
  background: #ffc107;
  cursor: pointer;
}

.form-box {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  border-radius: 10px;
}

.autocomplete-items {
  position: absolute;
  width: 240px;
  margin-left: 10px;
}

.autocomplete-item {
  background-color: white;
  padding: 8px;
}

.image {
  width: 500px;
}

.image-list {
  display: flex;
  flex-direction: column;
}
